.register-form__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);

  @media screen and (min-width: 1200px) {
    line-height: calc(23 / 20);
  }

  color: var(--primary-txt-cl);
}

.register-form__group {
  margin-bottom: 20px;
}
.register-form__field:not(:last-child) {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form__lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-txt-cl);
}

.register-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--br-form-cl);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--animation);

  &:focus {
    border-color: var(--accent-cl);
  }
  &:focus + .register-form__icon {
    fill: var(--accent-txt-cl);
  }
}

.register-form__icon {
  position: absolute;

  left: 12px;
  bottom: 11px;

  transition: fill var(--animation);
}

.register-form__message {
  resize: none;
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-txt-cl);

  border: 1px solid var(--br-form-cl);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--animation);

  &:focus {
    border-color: var(--accent-cl);
  }
  &::placeholder {
    font-weight: 400;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.register-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.register-form__checkbox:focus + .checkbox-icon {
  outline: 2px solid var(--accent-cl);
  outline-offset: 1px;
  border-radius: 1px;
}

.register-form__checkbox:checked + .checkbox-icon .icon-checked {
  opacity: 1;
}
.register-form__checkbox:checked + .checkbox-icon .icon-unchecked {
  opacity: 0;
}

.icon-checked {
  opacity: 0;
  fill: var(--accent-cl);
  transition: opacity var(--animation);
}
.icon-unchecked {
  opacity: 1;
  transition: opacity var(--animation);
}

.register-form__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  user-select: none;
}

.register-form__link {
  color: var(--accent-txt-cl);
}
.register-form__btn {
  padding: 10px 52px;
}
