.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}
.clients__item {
  height: 92px;

  @media screen and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }

  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  border: 1px solid var(--socials-ln-cl);
  border-radius: 4px;
  color: var(--socials-ln-cl);

  transition: color var(--animation), border-color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
    border-color: var(--accent-txt-cl);
  }
}
.clients__icon {
  fill: currentColor;
}
