.feature {
  @media screen and (min-width: 768px) {
    display: flex;

    gap: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}
.feature__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.feature__wrap {
  height: 120px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section-bc-cl);

  border-radius: 4px;
}
.feature__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);

  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.feature__desc {
  line-height: calc(24 / 14);

  color: var(--secondary-txt-cl);
}
